.base-background {
    -fx-background-color: #ececec;
}

.label-font {
    -fx-text-fill: rgba(60, 63, 65, 255);
}

.text-field-font {
    -fx-text-fill: rgb(186, 186, 186);
}

.list-button {
    -fx-background-color: rgb(75, 75, 75);
    -fx-text-fill: #ffffff
}

.setting-background-hover {
    -fx-background-color: derive(white, 30%);
    -fx-background-radius: 4px;
}

.setting-btns:hover {
    -fx-background-color: derive(white, 30%);
    -fx-background-radius: 4px;
}

.text-input {
    -fx-text-fill: #000;
}